@media (max-width: 600px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu-btn {
        display: flex;
        height: 30px;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .logo-container {
        padding: 5px;
        display: flex;
        align-items: center;
        width: 200px;
        justify-content: start;
    }

    .logo {
        width: 60px;
        height: 60px;
    }
    .logo-trans {
        width: 40px!important;
        height: 40px!important;
    }
    .brand{
        width: 100px;
        transition: ease-in-out 0.5s;
    }
    .brand-trans{
        width: 80px;
    }

    .banner1 {
        background-image: url("./assets/niñapileta.png");
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner2 {
        background-image: url("./assets/pileta1.jpg");
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner3 {
        background-image: url("./assets/pileta2.jpg");
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner1 h1,
    .banner2 h1,
    .banner3 h1 {
        text-align: center;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }

    .banner1 h2,
    .banner2 h2,
    .banner3 h2 {
        text-align: center;
        width: 100%;
        font-size: 17px;
        font-weight: bold;
        color: white;
    }
    .box-nosotros {
        width: 90%;
        background-color: white;
    }

    .title-box {
        margin-top: 25px;
        background-color: rgba(0, 26, 139, 0.534);
        width: fit-content;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 25px;
    }
    .title-box h3{
        font-size: 20px;
    }
    .box-btn-us{
        display: flex;
        justify-content: center;
    }    
    .btn-a{
        margin-right: 0;
    }
    .logo-garantia{
       width: 80px;
       margin-top: 0;
    }
    .fs-2{
        font-size: 20px!important;
    }
    p{
        font-size: 18px!important
        ;
    }
    .list-group{
        display: flex!important;
    }
    .list-group-item{
        padding: 0;
    }
    .icons-work{
        width: 65px;
        height: 65px;
    }
    .m1,.m2,.m3,.m4,.m5,.r1,.r2{
        background-size: 450px 650px;
    }
    #diferencial{
        margin-top: 15px;
    }
    .heading-piletas{
        margin-top: 16px!important;
    }
    .f-c{
        flex-direction: column!important;
    }
    .c-c{
        width: 100%!important;
    }
    .pr-0{
        padding-right: 12px!important;
    }
    .pl-0{
        padding-left: 12px!important;
    }
    .mb0{
        margin-bottom: 0!important;
    }
    .lead-contacto{
        font-size: 14px!important;
    }
}